[Desktop Entry]
Name=GnuGadu 2
Comment=Instant messanger client
Comment[pl]=Wolne Gadanie
Exec=gg2
Icon=gg2.png
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging
Encoding=UTF-8
# vi: encoding=utf-8
